<div class="user">
  <div class="show-stn-1">
    <div class="clearfix inner">
      <div class="user-img"><%= gravatar_for @user %></div>
      <div class="user-info">
        <h4><%= @user.name %></h4>
        <h4><%= @user.email %></h4>
      </div>
    </div>
  </div>
  <div class="show-stn-2">
    <div class="pt-fm">
      <%= render 'posts/new' %>
    </div><br>
    <h4>Posts</h4><br>
    <div>
      <%= render @posts %>
    </div>
  </div>
</div>