<span><%= gravatar_for @user %></span>
<span><h1> <%= @user.name %> </h1></span>
<span><h4> <%= @user.email  %></h4></span><br>

<h3>Posts</h3>

<%= render 'posts/new' %>

<div class="post">´
  <%= render @posts %>
</div>