<h1>Posts</h1>

<div>
  <% @posts.each do |post| %>
    <ul class = "post">
      <%= post.content %>
      <span class="user"> Created by <%= link_to post.user.name, post.user.name %></span>
      <% if post.comments.any? %>
            <h3>(<%= post.comments.count %>) Comments </h3>
            <ol class="Comments">
             <%= render post.comments %>
            </ol>
          <% end %>

      <%= render 'layouts/comment_form' %>

    </ul>

  <% end %>
</div>