<header>
  <span class="fb">facebook</span>
  <div class="top-panel">
    <% if signed_in? %>
      <span><%= link_to "Log out", destroy_user_session_path, method: :delete %></span>
      <span><%= link_to "Profile", user_path(current_user)%></span>
      <span><%= link_to "Friend Requests", users_path %>(<%= current_user.friend_requests.size %>)</span>
      <span><%= link_to "Newsfeed", root_path %></span>
    <% else %>
      <% if action_name != "new" %>
        <span><%= link_to "Sign up", new_user_registration_path %></span>
        <span><%= link_to "Sign in with Facebook", user_facebook_omniauth_authorize_path %><span>
      <% end %>
    <% end %>
  </div>
</header>